*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 30px 0;
    background-color: rgb(34, 53, 99);
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}

#main{
    margin: 30px;
    background-color: #f5f5f5;
    border: 1px solid black;
    padding: 30px;
    padding-bottom: 70px;
    background-color: rgb(216, 222, 243)
}

textarea{
    width: 100%;
    background-color: rgb(216, 222, 243);
    border: none;
    outline: none;
    margin-top: 6px;
    color: rgb(9, 15, 40);
    font-size: 17px;
}

.bottom-button {
    float: left;
    background: rgb(157, 168, 202);
    color: rgb(37, 49, 94);
    padding: 8px 12px;
    border: 1px solid rgb(10, 27, 69);
    border-radius: 10px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 200;
    width: 100px;
    height: 40px;
}
