<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>notpastebin</title> 
</head>
<body>
    <header>
        <h1>notpastebin</h1>
    </header>
    <div id="main">
        {{ if .IsMainPage }}
        <form method="post" action="/create">
            <textarea name="text" cols="30" rows="10" placeholder="Take a note.."></textarea>
            <button class="bottom-button">save</button>
        </form>
        {{ end }}
        {{ if .IsEditPage }}
        <form method="post" action="/update/{{.AdminHash}}">
            <textarea name="text" cols="30" rows="10" placeholder="Take a note..">{{.NoteText}}</textarea>
            <button class="bottom-button">update</button>
        </form>
        <form method="post" action="/delete/{{.AdminHash}}">
            <button class="bottom-button">delete</button>
        </form>
        <button class="bottom-button" onclick="copyLink('{{.ReaderUrl}}')">copy link</button>
        {{ end }}
        {{ if .IsReadPage }}
        <textarea disabled name="text" cols="30" rows="10" placeholder="Take a note..">{{.NoteText}}</textarea>
        <button class="bottom-button" onclick="copyLink('{{.ReaderUrl}}')">copy link</button>
        {{ end }}
    </div>
    <script>
        function copyLink(link) {
            console.log(link);
            navigator.clipboard.writeText(link);
            alert("Note read-only link copied to clipboard")
        }
    </script>
</body>
</html>
